.topnav {
    overflow: hidden;
    background-color: #3777BC;
    }

  
  .topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }




  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    float: right;
    background-color: #04AA6D;
    color: white;
  }

  .topnav a.signn {
    float: right;
    background-color: #3777BC;
    color: white;
  }

  .topnav a.topt {
    float: left;
    background-color: #3777BC;
    color: white;
  }

  .topName{
      font-size: 45px;
      color: black;
      text-align: center;
      margin-top: 80px;
      font-family: Arial, Helvetica, sans-serif;
      margin-bottom: 50px;
  }




.middle{
    margin-left: 400px;
    
}

.or{
    margin-left: 50px;
    margin-right: 50px;
    color: black;
    font-size: 25px;
  
}

#boton1{
    color: black;   
    padding: 18px 55px;
    cursor: pointer; 
    text-align: center;
    background-color: #008CBA;
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 20px;
}

#boton2{
    color:  white;   
    padding: 18px 55px;
    cursor: pointer; 
    text-align: center;
    background-color: #4CAF50;
    border-radius: 10px;
    border: none;
    font-size: 20px;
}

.car{
    background-color: white;
    position: relative;
    margin-left: 380px;
    margin-top: 40px;
}