<!DOCTYPE html>
<html lang="en">

  <head>
    <base href="[[=URL('static')]]/">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="data:image/x-icon;base64,AAABAAEAAQEAAAEAIAAwAAAAFgAAACgAAAABAAAAAgAAAAEAIAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAPAAAAAA=="/>
    <link rel="stylesheet" href="css/bulma.css">
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.css">
    [[block page_head]]<!-- individual pages can customize header here -->[[end]]
  </head>
  <body>
    <!-- Navigation bar -->
    <nav class="navbar is-info" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="[[=URL('index')]]">
          <figure class="image is-256x256">
            <img src=../static/Images/logo2.png>
          </figure>
          <!-- <img class="logo" width="150" src="images/site_icon.png"> -->
        </a>


        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="the-navbar-menu"
           onclick="this.classList.toggle('is-active');document.getElementById(this.dataset.target).classList.toggle('is-active');">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="the-navbar-menu" class="navbar-menu">
        <div class="navbar-start">
          [[block page_menu_items]]<!-- individual pages can add menu items here -->[[end]]
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="navbar-item" href="[[=URL('my_bookmarks')]]">
                <span class="icon"><i class="fa fa-fw fa-bookmark"></i></span>
                <span>Mybookmark</span>
              </a>
              <a class="navbar-item" href="[[=URL('post_your_car')]]">
                <span class="icon"><i class="fa fa-fw fa-heart"></i></span>
                <span>Mypost</span>
              </a>
              [[if globals().get('user'):]]
                <div class="navbar-item has-dropdown is-hoverable">
                  <a class="navbar-link is-primary">
                    <span class="icon"><i class="fa fa-fw fa-user-circle"></i></span>
                    <span>[[=globals().get('user').get('first_name')]] [[=globals().get('user').get('last_name')]]</span>
                  </a>
                  <div class="navbar-dropdown">
                    <a class="navbar-item" href="[[=URL('auth/logout')]]">Logout</a>
                    <a class="navbar-item" href="[[=URL('auth/profile')]]">Profile</a>
                    <a class="navbar-item" href="[[=URL('auth/change_password')]]">Change Password</a></li>

                  </div>
                </div>
              [[else:]]
                <a class="navbar-item" href="[[=URL('auth/register')]]">Sign up</a>
                <a class="navbar-item" href="[[=URL('auth/login')]]">Log in</a>
              [[pass]]
            </div>
          </div>
        </div>
      </div>
    </nav>


    <!-- beginning of HTML inserted by extending template -->
    [[include]]
    <!-- end of HTML inserted by extending template -->

    <!-- beginning of auth_layout footer for every page -->
    <footer class="footer has-background-info">
      <div class="content has-text-centered">
        Made with <a href="https://py4web.com">py4web</a>.
        <a href="https://learn-py4web.github.io">Learn py4web!</a>
      </div>

      <hr style="background-color:black">

      <div class="columns block is-mobile">
        <div class="column is-half">
         <figure class="image">
           <img src="">
          </figure>
          <b>CarExpress</b>
          <p>© 2022 CAREXPRESS, Inc.</p>
          <p> Copyright 2022 CarExpress Team</p>
        </div>

        <div class="column is-half">
          <p>
            CarExpress Vehicle History products and services are based only on information supplied to CarExpress.
            CarExpress does not have the complete history of every vehicle. Use the CarExpress search as one important
            tool, along with a vehicle inspection and test drive, to make a better decision about your next
            used car.
          </p>
        </div>
      </div>
      <!-- End of auth_layout footer for every page -->
    </footer>

  </body>

  <script src="js/sugar.min.js"></script>
  <script src="js/axios.min.js"></script>
  <script src="js/vue.js"></script>
  <script src="js/utils.js"></script>
  [[block page_scripts]]<!-- individual pages can add scripts here -->[[end]]
</html>
