[[extend 'auth_layout.html']]

<style>
[v-cloak] {
     display: none;
}
</style>


<div class="section has-background-white-ter" id="vue-target" v-cloak >
  <!-- Using Breadcrumbs to show which page is current page -->
   <nav class="breadcrumb has-arrow-separator" aria-label="breadcrumbs">
        <ul>
            <!-- Home Page Icon -->
            <li>
                <a href="[[=URL('index')]]">
          <span class="icon is-small">
          <i class="fa fa-fw fa-home" aria-hidden="true"></i>
          </span>
                    <span>Home</span>
                </a>
            </li>

            <!-- Used Cars Page Icon -->
            <li>
                <a href="[[=URL('second_page')]]">
          <span class="icon is-small">
          <i class="fa fa-fw fa-car" aria-hidden="true"></i>
          </span>
                    <span>Used Cars</span>
                </a>
            </li>

            <!-- My BookMark Page Icon -->
            <li class="is-active">
                <a aria-current="page">
          <span class="icon is-small">
          <i class="fa fa-fw fa-comment" aria-hidden="true"></i>
          </span>
                    <span>Feedback</span>
                </a>
            </li>
        </ul>
    </nav>

  <div class="container block">
    <h1 class="title has-text-weight-bold">Your Feedback Is Important To Us</h1>
  </div>

  <!-- Displays text box if in add post mode -->
  <div v-if="add_mode" class="container block">
    <div class="control container block">
      <textarea class="textarea" placeholder="Enter new post here" v-model="new_post">
      </textarea>
    </div>
    <div class="field">
      <div class="control">
        <input type="submit" @click="add_post" value="Post" class="button is-success">
        <input type="submit" @click="set_add_status(false)" value="Cancel" class="button is-danger">
      </div>
    </div>
  </div>
  <div v-else class="container block">
    <button @click="set_add_status(true)" class="button is-success">
      <i class="fa fa-plus fa-fw"></i>
      <span>Add Your Feedback of Our Website</span>
    </button>
  </div>

  <!-- Displays all posts -->
  <div class="container block">
    <div v-for="post in rows.slice()" class="card" >


  <header class="card-header">
    <p class="card-header-title">
      By {{post.first_name}} {{post.last_name}}
    </p>
  </header>
  <div class="card-content">
    <div class="content">
      <div>{{post.post}}</div>
    </div>
  </div>
  <footer class="card-footer">

    <a class="card-footer-item">
      <span @mouseenter="show_likes(post._idx)" class="level-item">
                <span @click="set_like(post._idx)" @mouseleave="hide_likes(post._idx)">
                  <div class="icon has-text-info">
                    <i v-if="post.like" class="fa fa-thumbs-up fas fa-lg fa-flip-horizontal"></i>
                    <i v-else class="fa fa-thumbs-o-up fas fa-lg fa-flip-horizontal"></i>
                  </div>
                </span>
              </span>
    </a>

    <a  class="card-footer-item">
      <span @mouseenter="show_likes(post._idx)" class="level-item">
                <span @click="set_dislike(post._idx)" @mouseleave="hide_likes(post._idx)">
                  <div class="icon has-text-info">
                    <i v-if="post.dislike" class="fa fa-thumbs-down fas fa-lg fa-flip-horizontal"></i>
                    <i v-else class="fa fa-thumbs-o-down fas fa-lg fa-flip-horizontal"></i>
                  </div>
                </span>
              </span>
      <span v-if="post.show_likers" class="is-size-7 has-text-info level-item">
                {{like_sentence}}
              </span>
    </a>

    <a class="card-footer-item">
      <div v-if="'[[=user_email]]' === post.user_email" >
          <span class="icon has-text-danger">
            <i @click="delete_post(post._idx)" class="fa fa-trash fas fa-lg"></i>
          </span>
      </div>
    </a>
  </footer>


    </div>
  </div>

</div>


[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
  let load_posts_url = "[[=XML(load_posts_url)]]";
  let add_post_url = "[[=XML(add_post_url)]]";
  let delete_post_url = "[[=XML(delete_post_url)]]";
  let get_likes_url = "[[=XML(get_likes_url)]]";
  let set_like_url = "[[=XML(set_like_url)]]";
  let get_likers_url = "[[=XML(get_likers_url)]]";
</script>

<script src="js/feedback.js"></script>
[[end]]
