[[extend 'layout.html']]

<div class="section">
  <style>
[v-cloak] {
     display: none;
}
</style>


<div class="section" id="vue-target" v-cloak>

  <div class="control block">
    <b>Select A Car Make</b>
    <select v-model="selected" name="selected" @change="filter">
      <option disabled value="">Select A Car Make</option>
      [[for r in res:]]
      <option>[[=r]]</option>
      [[pass]]
    </select>
    <br/>
    <b>Select A Car Model</b>
      <input class="input" type="text" v-model="car_model" @keyup="filter"/>
    <br/>
    <b>Year</b>
      <input class="input" type="number"  v-model="min_year"@keyup="filter"/>
        <div> to </div>
           <input class="input" type="number" v-model="max_year" @keyup="filter"/>
    <br/>
    <b>Price</b>
      <input class="input" type="number" v-model="min_price" @keyup="filter"/>
        <div>to</div>
          <input class="input" type="number" v-model="max_price" @keyup="filter"/>
    <br/>
    <b>Mileage</b>
      <input class="input" type="number" v-model="min_mil" @keyup="filter"/>
        <div>to</div>
          <input class="input" type="number" v-model="max_mil" @keyup="filter"/>
  </div>

  <div v-for="y in results">{{y}}</div>
</div>




[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
  let search_url = "[[=XML(search_url)]]";
  let filter_url = "[[=XML(filter_url)]]";
</script>
<script src="js/index.js"></script>
[[end]]
  <a class="button is-success" href="[[=URL('add')]]">
    <span class="icon"><i class="fa fa-plus"></i></span>
    <span>Add</span>
  </a>
  <div class="container">
    <table class="table is-striped is-fullwidth">
      <tr>
        <th>Id</th>
        <th>Brand</th>
        <th>Model</th>
        <th>Year</th>
        <th>Price</th>
        <th>Mileage</th>
        <th>Description</th>
        <th>Picture</th>
        <th>Created By</th>
        <th>Creation Date</th>
        <th></th>
        <th></th>
      </tr>
      [[for row in rows:]]
      <tr>
        <td>[[=row.id]]</td>
        <td>[[=row.car_brand]]</td>
        <td>[[=row.car_model]]</td>
        <td>[[=row.car_year]]</td>
        <td>[[=row.car_price]]</td>
        <td>[[=row.car_mileage]]</td>
        <td>[[=row.car_description]]</td>
        <td>[[=row.car_picture]]</td>
        <td>[[=row.created_by]]</td>
        <td>[[=row.creation_date]]</td>
        <td>
          <a class="button" href="[[=URL('edit', row.id)]]">
            <span class="icon"><i class="fa fa-fw fa-pencil"></i></span> <span>Edit</span>
          </a>
        </td>
        <td>
          <a class="button" href="[[=URL('delete', row.id)]]">
            <span class="icon"><i class="fa fa-fw fa-trash"></i></span>
          </a>
        </td>
      </tr>
      [[pass]]
    </table>
  </div>



</div>