<!DOCTYPE HTML>
[[extend 'auth_layout.html']]
<html lang="en">


<head>
    <base href="[[=URL('static')]]/">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="css/bulma.css">
    <style>

    </style>
</head>

<body>

        <div class ="section is-mobile">

          <div class="section is-mobile has-text-centered ">
              <h4 class="is-size-1 has-text-weight-bold">
                  Looking for a used car?
              </h4>
          </div>

            <div class="is-mobile has-text-centered">
                <a class="button has-text-centered-touch is-mobile is-success is-medium" align="center"
                   href="[[=URL('second_page', signer = url_signer)]]">
                    <span>Find a Used Car</span>
                </a>
            </div>

            <section class="column has-text-centered" >
               <img src="https://lh3.googleusercontent.com/pw/AM-JKLUK_J2S7iTQHgYXP7BrPi6F-D41ANIgXf_5gV-VlXIyg6rVdJyKMxesTrOwpIDSd3R8UGYCVsZTLLkSWMUZ4SWIEEksXHedyT6aWbMICOtoEKSCFsxrB9HotlEeHQMvutLUCx5wv5dZQMC3hJ3nXbk=w579-h298-no?authuser=0"
                    alt="Google photo" width="800px" height="800px" />
            </section>

         </div>

</body>



</html>