[[extend 'auth_layout.html']]
<!--Citation:https://stackoverflow.com/questions/31483655/how-to-select-specific-json-element-in-python -->
<div class="section">
    <!-- Using Breadcrumbs to do the navigation on top left part of the page-->
    <nav class="breadcrumb has-arrow-separator" aria-label="breadcrumbs">
        <ul>
            <!-- Home Page Icon -->
            <li>
                <a href="[[=URL('index')]]">
          <span class="icon is-small">
          <i class="fa fa-fw fa-home" aria-hidden="true"></i>
          </span>
                    <span>Home</span>
                </a>
            </li>

            <!-- Used Cars Page Icon -->
            <li>
                <a href="[[=URL('second_page')]]">
          <span class="icon is-small">
          <i class="fa fa-fw fa-car" aria-hidden="true"></i>
          </span>
                    <span>Used Cars</span>
                </a>
            </li>

            <!-- My BookMark Page Icon -->
            <li class="is-active">
                <a aria-current="page">
          <span class="icon is-small">
          <i class="fa fa-fw fa-bookmark" aria-hidden="true"></i>
          </span>
                    <span>My BookMark</span>
                </a>
            </li>
        </ul>
    </nav>

    <div class="container">
        <h1 class="title is-left">My bookmarks</h1>
        [[for final in final22:]]
        <div class="card">
            <div class="card-content">
                <b class="is-size-4 is-italic"> [[=final['car_year'] ]] [[=final['car_brand'] ]] [[=final['car_model']
                    ]] </b>
            </div>

            <div class="card-image">
                <div class="column">
                    <div class="columns block is-mobile">
                        <div class="column is-three-fifth">
                            <figure class="image">
                                <img src="https://i.ytimg.com/vi/bUVB0eB9d6Q/maxresdefault.jpg" alt="Placeholder image">
                            </figure>
                        </div>

                        <div class="column is-two-fifth">
                            <div class="card-content">
                                <div class="content">
                                    <div class="block"><b> Price: </b>$[[=final['car_price'] ]]</div>
                                    <div class="block"><b>Mileage: </b>[[=final['car_mileage'] ]]</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- add bookmark button -->
            <!-- TODO Edit BookMark-->
            <footer class="card-footer">
                 <p class="card-footer-item">
                  <a href="[[=URL('car_description_page')]]" class="card-footer-item has-text-grey">
                      <span class="icon"><i class="fa fa-fw fa-info"></i></span>
                      <span>MoreDetail</span>
                  </a>
                  <a href="[[=URL('my_bookmarks')]]" class="card-footer-item has-text-grey">
                      <span class="icon"><i class="fa fa-fw fa-bookmark"></i></span>
                      <span>BookMark</span>
                  </a>
                </p>
            </footer>
        </div>
        <!-- Start a new space for every car in every loop -->
        <br>
        [[pass]]
    </div>
</div>

