[[extend 'auth_layout.html']]

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
  <a class="button is-success" href="[[=URL('add')]]">
    <span class="icon"><i class="fa fa-plus"></i></span>
    <span>Add</span>
  </a>
  <div class="container">
    [[for row in rows:]]

          <!-- Card buttons to detail description page -->
<!--          <a href="[[=URL('car_description_page')]]">-->

            <div class="card">
              <div class="card-content">
                  <b class="is-size-4 is-italic"> [[=row.car_year]] [[=row.car_brand]] [[=row.car_model]] </b>
              </div>

            <div class="card-image">
              <div class="column">
              <div class="columns block is-mobile">
                <div class="column is-three-fifth">
                    <figure class="image">
                        <img src="https://i.ytimg.com/vi/bUVB0eB9d6Q/maxresdefault.jpg" alt="Placeholder image">
                    </figure>
                </div>

                <div class="column is-two-fifth">
                  <div class="card-content">
                    <div class="content">
                      <div class="block"><b> Price: </b>$[[=row.car_price]]</div>
                      <div class="block"><b>Mileage: </b> [[=row.car_mileage]]</div>
                    </div>
                  </div>
                </div>
              </div>
              </div>
            </div>
              <!-- add bookmark button -->
              <!-- TODO change it to BookMark to sign in user -->
              <footer class="card-footer">
                <p class="card-footer-item">
                  <a href="[[=URL('car_description_page')]]" class="card-footer-item has-text-grey">MoreDetail</a>
                  <a href="[[=URL('my_bookmarks')]]" class="card-footer-item has-text-grey">BookMark</a>
                </p>
              </footer>

        </div>
      <br>
      [[pass]]
  </div>
</body>
</html>