[[extend 'layout.html']]

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
  <a class="button is-success" href="[[=URL('add')]]">
    <span class="icon"><i class="fa fa-plus"></i></span>
    <span>Add</span>
  </a>
  <div class="container">
    <table class="table is-striped is-fullwidth">
      <tr>
<!--        <th>Id</th>-->
        <th>Brand</th>
        <th>Model</th>
        <th>Year</th>
        <th>Price</th>
        <th>Mileage</th>
        <th>Description</th>
        <th>Picture</th>
        <th>Created By</th>
        <th>Creation Date</th>
        <th></th>
        <th></th>
      </tr>
      [[for row in rows:]]
      <tr>
<!--        <td>[[=row.id]]</td>-->
        <td>[[=row.car_brand]]</td>
        <td>[[=row.car_model]]</td>
        <td>[[=row.car_year]]</td>
        <td>[[=row.car_price]]</td>
        <td>[[=row.car_mileage]]</td>
        <td>[[=row.car_description]]</td>
        <td>[[=row.car_picture]]</td>
        <td>[[=row.created_by]]</td>
        <td>[[=row.creation_date]]</td>
        <td>
          <a class="button" href="[[=URL('edit', row.id)]]">
            <span class="icon"><i class="fa fa-fw fa-pencil"></i></span> <span>Edit</span>
          </a>
        </td>
        <td>
          <a class="button" href="[[=URL('delete', row.id)]]">
            <span class="icon"><i class="fa fa-fw fa-trash"></i></span>
          </a>
        </td>
      </tr>
      [[pass]]
    </table>
  </div>
</body>
</html>