[[extend 'auth_layout.html']]

<head>
    <title>Used_Car_Page</title>
</head>

<div class="section has-background-white-ter">
    <!-- Using Breadcrumbs to show which page is current page -->
    <nav class="breadcrumb has-arrow-separator" aria-label="breadcrumbs">
        <ul>
            <li>
                <!-- Home Page Icon -->
                <a href="[[=URL('index')]]">
          <span class="icon is-small">
          <i class="fa fa-fw fa-home" aria-hidden="true"></i>
          </span>
                    <span>Home</span>
                </a>
            </li>

            <!-- Used Cars Page Icon -->
            <li class="is-active">
                <a aria-current="page">
          <span class="icon is-small">
          <i class="fa fa-fw fa-car" aria-hidden="true"></i>
          </span>
                    <span>Used Cars</span>
                </a>
            </li>
        </ul>
    </nav>

    <style>
        [v-cloak] {
            display: none;
        }
    </style>

    <!-- Filter functions on the right part -->
    <div class="section" id="vue-target" v-cloak>

        <!-- Start of filter functions -->
        <div class="control block">
            <div class="columns block is-mobile ">
                <!-- TODO having problem that if the number of results increase the length of this column also increase -->
                <div class="column is-one-fifth has-background-white">
                    <b>Select A Car Make</b>

                    <select v-model="selected" name="selected" @change="filter">
                        <option disabled value="">Select A Car Make</option>
                        [[for r in res:]]
                        <option>[[=r]]</option>
                        [[pass]]
                    </select>
                    <br/>

                    <b>Type A Car Model</b>
                    <input class="input" type="text" v-model="car_model" @keyup="filter"/>
                    <br/>
                    <b>Location</b>
                    <select v-model="range" name="range" @change="filter">
                        <option disabled value="">Within</option>
                        <option>50</option>
                        <option>100</option>
                        <option>150</option>
                        <option>200</option>
                        <option>250</option>
                        <option>500</option>
                    </select>
                    <b> miles of </b>
                    <input class="input" type="number" v-model="city" @keyup="filter"/>
                    <br/>

                    <b>Year</b>
                    <br/>
                    <input class="input" type="number" v-model="min_year" @keyup="filter"
                           style="width: 94px;"/><span>to</span><input class="input" type="number" v-model="max_year"
                                                                       @keyup="filter" style="width: 94px"/>
                    <br/>

                    <b>Price</b>
                    <br/>
                    <input class="input" type="number" v-model="min_price" @keyup="filter" style="width: 94px;"/><span>to</span><input
                        class="input" type="number" v-model="max_price" @keyup="filter" style="width: 94px;"/>
                    <br/>

                    <b>Mileage</b>
                    <br/>
                    <input class="input" type="number" v-model="min_mil" @keyup="filter"
                           style="width: 94px;"/><span>to</span><input class="input" type="number" v-model="max_mil"
                                                                       @keyup="filter" style="width: 94px;"/>
                </div>
                <!-- End of filter functions -->

                <!-- Display filter results on the right part -->
                <div class="column is-four-fifth">
                    <div v-for="y in results">

                        <!-- Card buttons to detail description page -->
                        <!--          <a href="[[=URL('car_description_page')]]">-->
                        <div class="card">
                            <div class="card-content">
                                <b class="is-size-4 is-italic has-text-info"> {{y.car_year}} {{y.car_brand}}
                                    {{y.car_model}}</b>
                            </div>

                            <div class="card-image">
                                <div class="column">
                                    <div class="columns block is-mobile">
                                        <div class="column is-three-fifth">
                                            <figure class="image">
                                                <img v-if="y.car_picture" width="50" :src="y.car_picture"
                                                     alt="Placeholder image"/>
                                            </figure>
                                        </div>

                                        <div class="column is-two-fifth">
                                            <div class="card-content">
                                                <div class="content">
                                                    <div class="block"><h3> Price: ${{y.car_price}}</h3></div>
                                                    <div class="block"><b>Mileage: </b> {{y.car_mileage}}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- add bookmark button -->
                            <!-- TODO edit BookMark -->
                            <footer class="card-footer">
                                <p class="card-footer-item">

                                    <a class="card-footer-item has-text-grey" :href="y.car_url">
                                        <span class="icon"><i class="fa fa-fw fa-info"></i></span>
                                        <span>MoreDetail</span>
                                    </a>
                                    <a href="[[=URL('my_bookmarks')]]" class="card-footer-item has-text-grey">
                                        <span class="icon"><i class="fa fa-fw fa-bookmark"></i></span>
                                        <span>BookMark</span>
                                    </a>
                                </p>
                            </footer>
                        </div>
                        <!--            </a>-->
                        <!-- Start a new space for every car in every loop -->
                        <br>
                    </div>
                </div>
            </div>
        </div>

        <!-- For Debug use all the users can see all the result from the DB -->
        <p>BELOW IS USING FOR TEST RIGHT NOW</p>
        <a class="button is-success" href="[[=URL('add')]]">
            <span class="icon"><i class="fa fa-plus"></i></span>
            <span>Add</span>
        </a>
        <div class="container">
            <table class="table is-striped is-fullwidth">
                <tr>
                    <th>Id</th>
                    <th>Brand</th>
                    <th>Model</th>
                    <th>Year</th>
                    <th>Price</th>
                    <th>Mileage</th>
                    <th>Description</th>
                    <th>Picture</th>
                    <th>Created By</th>
                    <th>Creation Date</th>
                    <th>zip</th>
                    <th></th>
                    <th></th>
                </tr>
                [[for row in rows:]]
                <tr>
                    <td>[[=row.id]]</td>
                    <td>[[=row.car_brand]]</td>
                    <td>[[=row.car_model]]</td>
                    <td>[[=row.car_year]]</td>
                    <td>[[=row.car_price]]</td>
                    <td>[[=row.car_mileage]]</td>
                    <td>[[=row.car_description]]</td>
                    <!--                    <td>[[=row.car_picture]]</td>-->
                    <td>[[=row.car_city]]</td>
                    <td>[[=row.created_by]]</td>
                    <td>[[=row.creation_date]]</td>

                    <td>
                        <a class="button" href="[[=URL('edit', row.id)]]">
                            <span class="icon"><i class="fa fa-fw fa-pencil"></i></span> <span>Edit</span>
                        </a>
                    </td>
                    <td>
                        <a class="button" href="[[=URL('delete', row.id)]]">
                            <span class="icon"><i class="fa fa-fw fa-trash"></i></span>
                        </a>
                    </td>
                </tr>
                [[pass]]
            </table>


        </div>

        <div v-for="i in resu" class="block">
            <a class="button is-link" :href="i.car_url">

            </a>
        </div>


        <!-- End of Debug Part -->

        [[block page_scripts]]
        <!-- Loads the index-specific js for Vue -->
        <script>
            let filter_url = "[[=XML(filter_url)]]";
            let load_cars = "[[=XML(load_cars)]]";
            let get_cars_url = "[[=XML(get_cars_url)]]";
        </script>

        <script src="js/index.js"></script>
        [[end]]

    </div>

</div>
